APP_ENV=development
APP_NAME=Numina API
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://user:password@host/dbname?sslmode=require

REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=sercret-key-here
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

OPENAI_API_KEY=
